
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #1F2937;
   
}

header .title h1 {
    font-size: 24px;
    color: #F9FAF8;
}

header .content {
    display: flex;
    align-items: center;
}

header .content ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding: 0;
    align-items: center;
}

a, .content-text {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

a, p, h1, button {
    font-family: Roboto;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 60px 30px;
    padding-bottom: 80px;
    gap: 15px;
    
}

main .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

main .left {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}

#sign-up {
    background-color: #3882f6;
    font-family: Roboto;
    color: #e5e7eb;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border-style: none;
}

main .right img {
    width: 400px;
}

.list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 76px;
    height: 12em;
    margin-top: 56px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Roboto;
}

.list .group .box {
    border-width: 10px !important;
    border-style: solid !important;
    border-radius: 10px !important;
    border-color: #3882f6 !important;
    width: 200px;
    height: 300px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 5em;
}

section .title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    font-family: Roboto;
}

.second {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 90px;
}

.second #quote {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
}

.second .signature {
    align-self: flex-end;
    font-weight: 900;
    font-size: 20px;
}